<nav class="navbar navbar-expand-sm fundoNavTop">
  <div class="container">
    <a class="linkNavTop" [routerLink]="['/']">Locadora</a>
    <ul class="navbar-nav">
      <li class="nav-item active ">
        <a class="nav-link linkNavTop" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link linkNavTop" [routerLink]="['/filmes']">Filmes</a>
      </li>




      <li class="nav-item">
        <a class="btn btn-sm btn-outline-secondary btn-linkNavTOP" [routerLink]="['/user/login']">Logar-se</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-sm btn-outline-secondary btn-linkNavTOP" [routerLink]="['/user/register']" >Registrar-se</a>
      </li>
      
    </ul>
  </div>
</nav>
