<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/painel']"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
    </ul>

    <!-- Links de users -->
    <hr>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span><i class="fa fa-user" aria-hidden="true"></i> Usuarios</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/painel/users']"><i class="fa fa-users" aria-hidden="true"></i> Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/painel/user/add']"><i class="fa fa-user-plus" aria-hidden="true"></i> Cadastrar novo</a>
      </li>
    </ul>



  </div>
</nav>