<div class="wrapper">

    <!--Side bar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>

    <!--Page Content-->
    <div id="page-content-wrapper">
        <div class="content-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>
                    <h1>Sidebar Layout</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Excepturi amet mollitia, beatae reprehenderit aliquid perspiciatis numquam incidunt 
                        et aut sed quisquam, corrupti voluptate earum asperiores, nesciunt atque illo fugiat sint?
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>