<client-navbar-top></client-navbar-top>
<h1 class="text-center display-4 mt-5">Produtos</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Gênero</th>
        <th scope="col">Disponível</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>O senhor dos Anéis</td>
        <td>Fantasia</td>
        <td>Sim</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Se beber não Case</td>
        <td>Comédia</td>
        <td>Não</td>
      </tr>
    
    </tbody>
  </table>
</div>