.bot-form{
    text-align: center;
    padding: 15px;
    border: 1px solid white;
    background-color: transparent;
    float: right;
}


.bL{
    background-color: lightsalmon;
    padding: 40px;
    color: aliceblue;
}